.col-big-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 360px) and (max-width: 1280px) {
  .col-sml-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

body {
  position: relative;
  font-family: "SFUIDisplay-Regular"; }

#main {
  min-width: 360px; }

#home {
  background: url("../img/main-bg.jpg") no-repeat top center;
  background-size: cover; }

#logo {
  padding-top: 90px; }
  @media (min-width: 360px) and (max-width: 1280px) {
    #logo {
      padding-top: 30px; } }
  #logo h1 {
    color: #fff300;
    font-weight: normal;
    font-size: 1em;
    margin: 35px auto 0 auto;
    width: 150px; }
    #logo h1 a {
      text-decoration: none;
      color: #fff300; }

.home-bg {
  background: rgba(0, 0, 0, 0.9);
  height: 100%; }

#home-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.center {
  float: none;
  margin: 0 auto; }

.right {
  float: right; }

.left {
  float: left; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.white-font {
  color: #fff !important; }

.yellow-font {
  color: #fff300 !important; }

nav {
  padding-top: 45px; }
  nav a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "SFUIDisplay-Thin";
    padding: 0 9px; }
    nav a.active {
      color: #fff; }

#top-contact {
  color: #5b5b5b;
  padding-top: 45px; }
  @media (min-width: 360px) and (max-width: 1280px) {
    #top-contact {
      position: absolute;
      top: 0;
      right: 0; } }
  #top-contact #left {
    font-family: "SFUIDisplay-Light"; }
  #top-contact #right {
    font-family: "SFUIDisplay-Medium"; }
  #top-contact span {
    display: block;
    padding-left: 0;
    padding-bottom: 5px; }
  #top-contact a {
    color: #5b5b5b;
    font-size: 0.9em;
    text-decoration: none; }
    #top-contact a:hover, #top-contact a.active {
      color: #fff; }

#lang {
  margin-top: 10px; }

.play-icon {
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto; }

.icon {
  display: block;
  height: 33px;
  text-decoration: none;
  overflow: hidden; }
  .icon.icon-play-header {
    height: 65px;
    width: 65px; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .icon.icon-play-header {
        margin-top: 25px; } }
    .icon.icon-play-header img {
      margin-top: -27px; }
  .icon.icon-play-bottom {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -31px;
    margin-top: 40px;
    height: 65px;
    width: 65px; }
    .icon.icon-play-bottom img {
      margin-top: -152px; }
  .icon.icon-mouse {
    margin: 0 auto;
    height: 20px;
    width: 12px; }
    .icon.icon-mouse img {
      margin-top: -56px;
      width: 40px; }
  .icon.icon-tehnology {
    background: url("../img/icons/all-icons.svg") left no-repeat;
    height: 20px;
    width: 12px; }

#topic {
  margin-top: 10px; }
  #topic h2 {
    font-size: 2.5em; }
    @media (min-width: 360px) and (max-width: 1280px) {
      #topic h2 {
        margin-top: 10px; } }
  #topic span.white-font {
    font-family: "SFUIDisplay-Light"; }
  #topic strong.yellow-font {
    font-family: "SFUIDisplay-Regular";
    font-weight: bold; }

.social-networks {
  position: absolute;
  top: 45%;
  right: 20px;
  margin-top: 0; }
  .social-networks.footer-bottom {
    position: relative;
    list-style: none;
    padding: 0;
    padding-left: 25px !important;
    margin-bottom: 0;
    color: #5b5b5b;
    margin-top: 7px;
    float: left;
    width: 100px; }
    .social-networks.footer-bottom li {
      display: inline-block;
      margin: 10px 5px; }
  .social-networks li {
    list-style: none;
    margin-bottom: 25px; }
    .social-networks li a {
      display: block;
      color: #fff;
      overflow: hidden;
      height: 18px;
      width: 18px; }
      .social-networks li a img.soc-twitter {
        margin-top: -60px; }
      .social-networks li a img.soc-google {
        margin-top: -120px; }
      .social-networks li a img.soc-instagram {
        margin-top: -177px; }
      .social-networks li a img.soc-youtube {
        margin-top: -240px; }
      .social-networks li a img.soc-vk {
        margin-top: -300px; }

#scroll-down {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%; }
  #scroll-down small {
    color: #5b5b5b;
    padding: 10px 0;
    font-size: 0.75em;
    text-transform: uppercase; }
  #scroll-down i {
    display: block;
    font-size: 1.7em;
    color: #fff; }

.modal {
  display: none;
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  padding: 2% 0;
  height: 100%;
  width: 100%;
  z-index: 100; }
  .modal #close-block {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 101; }
  .modal #close-modal {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 20px; }
    .modal #close-modal:after {
      content: "x";
      font-weight: bold;
      font-style: normal;
      position: absolute;
      font-size: 1.4em;
      /* border: 2px solid #000; */
      top: -18px;
      right: 0; }
    .modal #close-modal:hover {
      color: #5b5b5b; }
  .modal .modal-title h2 {
    margin-top: 0; }
  .modal .modal-dialog {
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 102; }
  .modal .modal-content iframe {
    min-height: 500px;
    height: 100%;
    width: 100%; }

#services {
  background: url("../img/two-page-bg.jpg") no-repeat left center #121212;
  background-size: 100%; }
  #services h2 {
    margin-bottom: 80px; }

.name-block {
  color: #fff300;
  font-size: 2.5em;
  margin: 3% 0 5% 0; }

.service-block-item {
  border: 1px solid #fff300;
  border-radius: 5px;
  padding: 20px 10px;
  position: relative; }
  .service-block-item h3 {
    color: #fff;
    font-family: "SFUIDisplay-Thin";
    margin: 0; }
  .service-block-item ul {
    margin: 15px 0 55px 0;
    list-style: url("../img/icons/check.png");
    height: 235px; }
    .service-block-item ul li {
      color: #fff300;
      margin: 10px 0;
      font-size: 0.8em; }
  .service-block-item .btn {
    position: absolute;
    left: 25px;
    bottom: 16px;
    width: 80%; }

.btn {
  background: #5b5b5b;
  border: 1px solid #5b5b5b;
  cursor: pointer;
  color: #000;
  border-radius: 10px;
  font-weight: bold;
  -webkit-appearance: none;
  font-size: 1.1em;
  padding: 10px;
  width: 100%; }
  .btn.btn-yellow {
    background: #fff300;
    border: 1px solid #fff300;
    color: #000; }

#we-jobs {
  background: #121212; }

.punkts-circle {
  border: 5px solid #fff300;
  border-radius: 50%;
  position: relative;
  top: 90px;
  line-height: 252px;
  height: 255px;
  width: 255px; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-circle {
      border-radius: 0;
      border: 0px solid #fff300;
      line-height: 0px;
      top: 0;
      height: 500px;
      width: 100%; } }
  .punkts-circle h2 {
    height: 100%;
    text-transform: uppercase;
    color: #fff300;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-circle h2 {
        position: absolute;
        left: 0;
        top: 50%; } }

.punkts-icons.top {
  position: absolute;
  top: 0;
  line-height: 0;
  width: 100%; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-icons.top {
      top: 13%; } }
  .punkts-icons.top .punkts-theme {
    color: #fff;
    position: absolute;
    font-size: 1.5em;
    top: -90px;
    left: 0;
    width: 100%; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.top .punkts-theme {
        top: 0;
        left: 15%; } }
  .punkts-icons.top strong.icons-name {
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 33%;
    margin-top: -50px;
    height: 90px;
    width: 90px; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.top strong.icons-name {
        top: 2%;
        left: 20%; } }
    .punkts-icons.top strong.icons-name .icon-tehnology {
      background: url(../img/icons/we-icons.svg) center center no-repeat #fff300;
      background-size: 65%;
      background-position: 27px 14px;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      line-height: 0;
      display: block; }

.punkts-icons.left.top {
  right: 10px;
  top: 100px; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-icons.left.top {
      top: 35%;
      left: 0%;
      right: auto; } }
  .punkts-icons.left.top .punkts-theme {
    left: 105%;
    top: 0; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.left.top .punkts-theme {
        top: 10%;
        left: 2.6%; } }
  .punkts-icons.left.top strong.icons-name {
    left: 90%; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.left.top strong.icons-name {
        top: 10%;
        left: 20%; } }
  .punkts-icons.left.top strong.icons-name .icon-tehnology {
    background-position: 21px -76px; }

.punkts-icons.bottom-right.top {
  right: 0;
  top: auto;
  bottom: 0; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-icons.bottom-right.top {
      top: 57%;
      left: 0%;
      right: auto;
      bottom: auto; } }
  .punkts-icons.bottom-right.top .punkts-theme {
    left: 80%;
    top: 68px; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.bottom-right.top .punkts-theme {
        top: 10%;
        left: 15%; } }
  .punkts-icons.bottom-right.top strong.icons-name {
    left: 65%; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.bottom-right.top strong.icons-name {
        left: 20%; } }
  .punkts-icons.bottom-right.top strong.icons-name .icon-tehnology {
    background-position: 16px -330px; }

.punkts-icons.bottom-left.top {
  right: auto;
  top: auto;
  left: 0;
  bottom: 0; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-icons.bottom-left.top {
      top: 79%;
      left: 0%;
      bottom: auto;
      right: auto; } }
  .punkts-icons.bottom-left.top .punkts-theme {
    left: -82%;
    top: 67px;
    width: 287px; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.bottom-left.top .punkts-theme {
        top: 0%;
        left: 17%;
        width: 100%; } }
  .punkts-icons.bottom-left.top strong.icons-name {
    left: 0%; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.bottom-left.top strong.icons-name {
        left: 20%; } }
  .punkts-icons.bottom-left.top strong.icons-name .icon-tehnology {
    background-position: 16px -247px; }

.punkts-icons.top-left.top {
  right: auto;
  top: 100px;
  left: -20%;
  bottom: auto; }
  @media (min-width: 360px) and (max-width: 1280px) {
    .punkts-icons.top-left.top {
      left: 0%;
      top: 100%; } }
  .punkts-icons.top-left.top .punkts-theme {
    left: -100%;
    top: 0; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.top-left.top .punkts-theme {
        left: 13%; } }
  .punkts-icons.top-left.top strong.icons-name {
    left: 0%; }
    @media (min-width: 360px) and (max-width: 1280px) {
      .punkts-icons.top-left.top strong.icons-name {
        left: 20%; } }
  .punkts-icons.top-left.top strong.icons-name .icon-tehnology {
    background-position: 16px -167px; }

#clients {
  background: #121212; }
  #clients h2 {
    margin: 80px 0; }

.client-item {
  background: #ffd700;
  padding: 20px 20px;
  position: relative;
  height: 140px;
  border-radius: 10px; }
  .client-item::before {
    content: "";
    background: url(../img/icons/question.png) center center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -13px;
    height: 35px;
    width: 35px; }
  .client-item p {
    color: #5b5b5b;
    overflow-y: auto;
    margin-top: 0;
    height: 140px; }
    .client-item p:before {
      content: '" ';
      color: red; }
    .client-item p:after {
      content: ' "';
      color: red; }
  .client-item small {
    color: #5b5b5b;
    position: absolute;
    bottom: 20px; }

.client-items {
  margin: 30px 0 0 0; }
  .client-items img {
    border-radius: 50%; }

.clients-visible {
  position: relative;
  overflow: hidden;
  height: 284px; }

#clieants-block a {
  clear: both;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0px 5px;
  position: relative;
  top: 50px;
  height: 10px;
  width: 10px; }
  #clieants-block a.active {
    background: #fff; }

.destroy {
  display: none; }

#about {
  background: #121212; }
  #about h2 {
    margin: 50px 0; }

#world-maps {
  position: relative; }

.w100 {
  width: 100%; }

#consorcium {
  background: #121212; }
  #consorcium h2 {
    margin: 80px 0; }

.footer {
  background: #121212; }

.maps {
  position: relative; }
  .maps iframe {
    height: 350px;
    width: 100%; }
  .maps .form {
    background: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 0 30px;
    bottom: -50px;
    margin-left: 19px;
    left: 50%; }
    .maps .form input, .maps .form textarea {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px; }
    .maps .form textarea {
      height: 100px; }
    .maps .form button {
      border-radius: 30px;
      padding: 10px 40px;
      width: auto; }
    .maps .form h2 {
      padding: 0 17px;
      color: #5b5b5b; }
    .maps .form .form-item {
      margin-bottom: 20px;
      padding: 0 17px; }

#contacts .contacts-title {
  border-bottom: 2px solid #dd4410;
  padding-bottom: 11px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 2.2em;
  width: 152px; }

#contacts .contacts-item h4 {
  color: #fff;
  margin-bottom: 0;
  padding-left: 20px; }

#contacts .contacts-item ul {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 0;
  color: #5b5b5b;
  margin-top: 7px; }
  #contacts .contacts-item ul a {
    color: #5b5b5b;
    text-decoration: none;
    margin-bottom: 4px; }
  #contacts .contacts-item ul li {
    font-size: 0.8em;
    margin-bottom: 4px; }

#contacts .contacts-item small {
  color: #5b5b5b;
  float: left;
  font-size: 0.8em;
  display: block;
  text-align: left;
  width: 100%; }

.follow h4 {
  text-align: right;
  padding-right: 0; }

.follow img#logo-mini {
  margin: 21px 0 10px 0; }

.icon-footer {
  position: relative; }
  .icon-footer:before {
    content: "";
    background: url(../img/icons/all-icons.svg) no-repeat;
    background-size: 100%;
    background-position: 0px -1px;
    position: absolute;
    height: 16px;
    top: 20px;
    left: 8px;
    width: 30px; }
  .icon-footer.telephone-icon:before {
    background-position: 0px -108px;
    position: absolute;
    height: 11px;
    top: 2px;
    left: -4px;
    width: 30px; }
  .icon-footer.telephone-icon a {
    display: block;
    width: 100%; }
  .icon-footer.adress-icon:before {
    content: "";
    background: url(../img/icons/all-icons.svg) no-repeat;
    background-size: 100%;
    background-position: 0px -131px;
    position: absolute;
    height: 12px;
    top: 23px;
    left: 8px;
    width: 32px; }

.top-page {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 20; }
  .top-page span {
    position: absolute;
    top: 19px;
    color: #5b5b5b;
    font-size: 1em;
    left: -58px; }
  .top-page a {
    display: block;
    overflow: hidden;
    height: 60px;
    width: 60px; }
    .top-page a img {
      margin-top: -219px; }

.vertical-center {
  max-width: 1920px;
  margin: 0 auto; }

@media (min-width: 360px) and (max-width: 1280px) {
  .vertical-center {
    position: relative;
    top: 20%; } }

.row {
  margin-left: -25px;
  margin-right: -25px; }
