.col-big-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

.col-big-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

@media (min-width: 961px) and (max-width: 1366px) {
  .col-sml-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

@media (min-width: 360px) and (max-width: 960px) {
  .col-xsl-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; } }

body {
  position: relative;
  font-family: "SFUIDisplay-Regular"; }

#main {
  min-width: 360px; }

#home {
  background: url("../img/main-bg.jpg") no-repeat top center;
  background-size: cover; }

#logo {
  padding-top: 90px; }
  #logo h1 {
    color: #fff300;
    font-weight: normal;
    font-size: 1em;
    margin: 35px auto 0 auto;
    width: 150px; }
    #logo h1 a {
      text-decoration: none;
      color: #fff300; }

.home-bg {
  background: rgba(0, 0, 0, 0.9);
  height: 100%; }

#home-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }

.center {
  float: none;
  margin: 0 auto; }

.right {
  float: right; }

.left {
  float: left; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.white-font {
  color: #fff !important; }

.yellow-font {
  color: #fff300 !important; }

nav {
  padding-top: 45px; }
  nav a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "SFUIDisplay-Thin";
    padding: 0 9px; }
    nav a.active {
      color: #fff; }

#top-contact {
  color: #5b5b5b;
  padding-top: 45px; }
  #top-contact #left {
    font-family: "SFUIDisplay-Light"; }
  #top-contact #right {
    font-family: "SFUIDisplay-Medium"; }
  #top-contact span {
    display: block;
    padding-left: 0;
    padding-bottom: 5px; }
  #top-contact a {
    color: #5b5b5b;
    font-size: 0.9em;
    text-decoration: none; }

#play-icon {
  cursor: pointer;
  color: #fff;
  font-size: 3em; }

#topic span.white-font {
  font-family: "SFUIDisplay-Light"; }

#topic strong.yellow-font {
  font-family: "SFUIDisplay-Regular";
  font-weight: bold; }

.social-networks {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -4px; }
  .social-networks li {
    list-style: none;
    margin-bottom: 15px; }
    .social-networks li a {
      color: #fff; }

#scroll-down {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%; }
  #scroll-down small {
    color: #5b5b5b;
    padding: 10px 0;
    font-size: 0.75em;
    text-transform: uppercase; }
  #scroll-down i {
    display: block;
    font-size: 1.7em;
    color: #fff; }

.modal {
  display: none;
  opacity: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  padding: 2% 0;
  height: 100%;
  width: 100%;
  z-index: 100; }
  .modal #close-modal {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 20px; }
    .modal #close-modal:hover {
      color: #5b5b5b; }
  .modal .modal-title h2 {
    margin-top: 0; }
  .modal .modal-dialog {
    background: #fff;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; }
  .modal .modal-content iframe {
    min-height: 500px;
    height: 100%;
    width: 100%; }
