// Import fonts
@import url(http://nomail.com.ua/api/font-face/13478.css);
@import url(http://nomail.com.ua/api/font-face/13479.css);
@import url(http://nomail.com.ua/api/font-face/13480.css);
@import url(http://nomail.com.ua/api/font-face/13482.css);
@import url(http://nomail.com.ua/api/font-face/13481.css);

// Fonts
$light-font: "SFUIDisplay-Light";
$medium-font: "SFUIDisplay-Medium";
$regular-font: "SFUIDisplay-Regular";
$thin-font: "SFUIDisplay-Thin";
$semibold-font: "SFUIDisplay-Semibold";
