@import "susy";

// Colors
$white: #fff;
$black: #000;
$yellow: #fff300;
$dark-yellow: #ffd700;
$grey: #5b5b5b;
$dark-grey: #373839;
$black-opacity-9: rgba(0,0,0, .9);
$block-gray: #121212;
$input-gray: #ccc;

// Fonts
$light-font: "SFUIDisplay-Light";
$medium-font: "SFUIDisplay-Medium";
$regular-font: "SFUIDisplay-Regular";
$thin-font: "SFUIDisplay-Thin";
$semibold-font: "SFUIDisplay-Semibold";

// display width
$medium-width: 360px 1280px;
// $small-width: 360px 960px;

// Settings Sussy library
$susy: (
  columns: 12,
  gutters: 1/1,
  math: fluid,
  output: float,
  gutter-position: inside,
   debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);

// Custom Grid
$class-big: col-big !default;
$class-sml: col-sml !default;
$class-xsl: col-xsl !default;
$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .#{$class-big}-#{$i} { 
      @include span($i);
  }
  @include susy-breakpoint($medium-width) { 
    .#{$class-sml}-#{$i} { 
        @include span($i);
    } 
  }
//   @include susy-breakpoint($small-width) { 
//     .#{$class-xsl}-#{$i} { 
//         @include span($i);
//     }
//   }
} 

body {
    position: relative;
    font-family: $regular-font;
}

#main {
    min-width: 360px;
}

#home{
    background:  url("../img/main-bg.jpg") no-repeat top center;
    background-size: cover;
}

#logo {
    padding-top: 90px;
    @include susy-breakpoint($medium-width) {
        padding-top: 30px;
    }
    h1 {
        color: $yellow;
        font-weight: normal;
        font-size: 1em;
        margin: 35px auto 0 auto;
        width: 150px;
        a {
            text-decoration: none;
            color: $yellow;
        }
    }
}

.home-bg {
    background: $black-opacity-9;
    height: 100%;
}

#home-content{
    @include span(12);
}

.center {
    float: none;
    margin: 0 auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.white-font {
    color: $white !important;
}

.yellow-font {
   color: $yellow !important; 
}

nav {
    padding-top: 45px;
    a {
        color: $grey;
        text-decoration: none;
        font-size: 1.1em;
        font-family: $thin-font;
        padding: 0 9px;
        
        &.active {
            color: $white;
        }
    }
}

#top-contact {
    color: $grey;
    padding-top: 45px;
    @include susy-breakpoint($medium-width) {
        position: absolute;
        top: 0;
        right: 0;
    }
    #left {
        font-family: $light-font;
    }
    #right {
        font-family: $medium-font;
    }
    span {
        display: block;
        padding-left: 0;
        padding-bottom: 5px;
    }
    a {
        color: $grey;
        font-size: 0.9em;
        text-decoration: none;
        &:hover, &.active {
            color: $white;
        }
    }
}

#lang {
    margin-top: 10px;
}

.play-icon {
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.icon {
    display: block;
    height: 33px;
    text-decoration: none;
    overflow: hidden;    
    &.icon-play-header {
        height: 65px;
        width: 65px; 
        img {
            margin-top: -27px;
        }
    }
    &.icon-play-bottom {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -31px;
        margin-top: 40px;
        height: 65px;
        width: 65px;
        img {
            margin-top: -152px;
        }
    }
    &.icon-mouse {
            margin: 0 auto;
            height: 20px;
            width: 12px;
        img {
            margin-top: -56px;
            width: 40px;
        }
    }
    &.icon-tehnology {
        background: url("../img/icons/all-icons.svg") left no-repeat;
        height: 20px;
        width: 12px;
    }
}

#topic {
    margin-top: 10px;
    h2 {
        font-size: 2.5em;
    }
    span {
        &.white-font {
            font-family: $light-font;
        }
    }
    strong {
        &.yellow-font {
            font-family: $regular-font;
            font-weight: bold;
        }
    }
}

.social-networks {
    position: absolute;
    top: 45%;
    right: 20px;
    margin-top: 0;
    &.footer-bottom {
        position: relative;
        list-style: none;
        padding: 0;
        padding-left: 25px !important;
        margin-bottom: 0;
        color: #5b5b5b;
        margin-top: 7px;
        float: left;
        width: 100px;
        li {
            display: inline-block;
            margin: 10px 5px;
        }
    }
    li {
        list-style: none;
        margin-bottom: 25px;
        a {
            display: block;
            color: $white;
            overflow: hidden;
            height: 18px;
            width: 18px;

            img {
                &.soc-twitter {
                    margin-top: -60px;  
                }
                &.soc-google{
                    margin-top: -120px;
                }
                &.soc-instagram{
                    margin-top: -177px;
                }
                &.soc-youtube{
                    margin-top: -240px;
                }
                &.soc-vk{
                    margin-top: -300px;
                }
            }
        }
    }
}

#scroll-down {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;

    small {
        color: $grey;
        padding: 10px 0;
        font-size: 0.75em;
        text-transform: uppercase;
    }

    i {
        display: block;
        font-size: 1.7em;        
        color: $white;
    }
}

.modal {
    display: none;
    opacity: 0;
    position: fixed;
    background: $black-opacity-9;
    padding: 2% 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    #close-modal {
        cursor: pointer;
        font-size: 2em;
        position: absolute;
        right: 20px;
        top: 20px;
        &:after {
            content: "x";
            font-weight: bold;
            font-style: normal;
            position: absolute;
            font-size: 1.4em;
            /* border: 2px solid #000; */
            top: -18px;
            right: 0;
        }
        &:hover {
            color: $grey;
        }
    }

    .modal-title {
        h2 {
            margin-top: 0;
        }
    }

    .modal-dialog {
        background: #fff;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }

    .modal-content {
        iframe {
            min-height: 500px;
            height: 100%;
            width: 100%;
        }
    }
}

#services {
    background: url("../img/two-page-bg.jpg") no-repeat left center $block-gray;
    background-size: 100%;
    h2 {
        margin-bottom: 80px;
    }
}

.name-block {
    color: $yellow;
    font-size: 2.5em;
    margin: 3% 0 5% 0;
}

.service-block-item {
    border: 1px solid #fff300;
    border-radius: 5px;
    padding: 20px 10px;
    position: relative;
    h3 {
        color: $white;
        font-family: $thin-font;
        margin: 0;
    }
    ul {
        margin: 15px 0 55px 0;
        list-style: url('../img/icons/check.png');
        height: 235px;
        li {
            color: $yellow;
            margin: 10px 0;
            font-size: 0.8em;
        }
    }
    .btn {
        position: absolute;
        left: 25px;
        bottom: 16px;
        width: 80%;
    }
}

.btn {
    background: $grey;
    border: 1px solid $grey;
    color: #000;
    border-radius: 10px;
    font-weight: bold;
    -webkit-appearance: none;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
        &.btn-yellow {
            background: $yellow;
            border: 1px solid $yellow;
            color: #000;
        }
}

#we-jobs {
    background: $block-gray;
}

.punkts-circle {
    border: 5px solid #fff300;
    border-radius: 50%;
    position: relative;
    top: 55px;
    line-height: 340px;
    height: 355px;
    width: 355px;
        h2 {
            height: 100%;
            text-transform: uppercase;
            color: #fff300;
            font-size: 4.5em;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
        }
}

.punkts-icons {
    &.top {
        position: absolute;
        top: 0;
        line-height: 0;
        width: 100%;
        .punkts-theme {
            color: #fff;
            position: absolute;
            font-size: 1.5em;
            top: -70px;
            left: 0;
            width: 100%;
        }
        strong.icons-name {
            display: block;
            line-height: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 132px;
            margin-top: -50px;
            height: 90px;
            width: 90px;
            .icon-tehnology {
                background: url(../img/icons/we-icons.svg) center center no-repeat #fff300;
                background-size: 65%;
                background-position: 27px 14px;
                border-radius: 50%;
                height: 100%;
                width: 100%;
                line-height: 0;
                display: block;
            }
        }
    }
    &.left.top {
        right: 10px;
        top: 120px;
        .punkts-theme {
            left: 90%;
            top: 0;
        }
        strong.icons-name {
            left: 90%;
        }
        strong.icons-name .icon-tehnology {
            background-position: 21px -76px;
        }
    }
    &.bottom-right.top {
        right: 0;
        top: auto;
        bottom: 0;
        .punkts-theme {
            left: 65%;
            top: 0;
        }
        strong.icons-name {
            left: 65%;
        }
        strong.icons-name {
            .icon-tehnology {
                background-position: 16px -330px;
            }
        }
    }
    &.bottom-left.top {
        right: auto;
        top: auto;
        left: 0;    
        bottom: 0;
        .punkts-theme {
            left: -82%;
            top: 0;
        }
        strong.icons-name {
            left: 10%;
        }
        strong.icons-name {
            .icon-tehnology {
                background-position: 16px -247px;
            }
        }
    }
    &.top-left.top {
        right: auto;
        top: 120px;
        left: -20%;
        bottom: auto;
        .punkts-theme {
            left: -82%;
            top: 0;
        }
        strong.icons-name {
            left: 10%;
        }
        strong.icons-name {
            .icon-tehnology {
                background-position: 16px -167px;
            }
        }
    }
}

#clients {
    background: $block-gray;
    h2 {
        margin: 80px 0;
    }
}

.client-item {
    background: $dark-yellow;
    padding: 20px 20px;
    position: relative;
    height: 140px;
    border-radius: 10px;
    &::before {
        content: "";
        background: url(../img/icons/question.png) center center no-repeat;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -13px;
        height: 35px;
        width: 35px;
    }
    p {
        color: $grey;
        overflow-y: auto;
        margin-top: 0;
        height: 140px;
        &:before {
            content: '" ';
            color: red;
        }
        &:after {
            content: ' "';
            color: red;
        }
    }
    small {
        color: $grey;
        position: absolute;
        bottom: 20px;
    }
}

.client-items {
    margin: 30px 0 0 0;
    img {
        border-radius: 50%;
    }
}

.clients-visible {
    position: relative;
    overflow: hidden;
    height: 284px;
}

#clieants-block {
    a {
        clear: both;
        display: inline-block;
        border: 2px solid $white;
        border-radius: 50%;
        text-align: center;
        margin: 0px 5px;
        position: relative;
        top: 50px;
        height: 10px;
        width: 10px;
        &.active {
            background: $white;
        }
    }
}

.destroy {
    display: none;
}

#about {
    background: $block-gray;
    h2 {
        margin: 50px 0;
    }
}

#world-maps {
    position: relative;
}

.w100 {
    width: 100%;
}

#consorcium {
    background: $block-gray;
    h2 {
        margin: 80px 0;
    }
}

.footer {
    background: $block-gray;
}

.maps {
    position: relative;
    iframe {
        height: 350px;
        width: 100%;
    }
    .form {
        background: #fff;
        border-radius: 10px;
        position: absolute;
        padding: 0 30px;
        bottom: -50px;
        margin-left: 19px;
        left: 50%;
        input, textarea {
            border: 1px solid $input-gray;
            border-radius: 4px;
            padding: 10px;
        }
        textarea {
            height: 100px;
        }
        button {
            border-radius: 30px;
            padding: 10px 40px;
            width: auto;
        }
        h2 {
            padding: 0 17px;
            color: $grey;
        }
        .form-item {
            margin-bottom: 20px;
            padding: 0 17px;
        }
    }
}

#contacts {
    .contacts-title {
        border-bottom: 2px solid #dd4410;
        padding-bottom: 11px;
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 2.2em;
        width: 152px;
    }
    .contacts-item {
        h4 {
            color: $white;
            margin-bottom: 0;
            padding-left: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
            padding-left: 20px;
            margin-bottom: 0;
            color: $grey;
            margin-top: 7px;
            a {
                color: $grey;
                text-decoration: none;
            }
            li {
                font-size: 0.8em;
            }
        }
        small {
            color: $grey;
            float: left;
            font-size: 0.8em;
            display: block;
            text-align: left;
            width: 100%;
        }
    }
}

.follow {
    h4 {
        text-align: right;
        padding-right: 0;
    }
    img#logo-mini {
        margin: 21px 0 10px 0;
    }
}

.icon-footer {
    position: relative;
    &:before {
        content: "";
        background: url(../img/icons/all-icons.svg) no-repeat;
        background-size: 100%;
        background-position: 0px -1px;
        position: absolute;
        height: 16px;
        top: 20px;
        left: 8px;
        width: 30px;
    }
    &.telephone-icon {
        &:before {
            background-position: 0px -108px;
            position: absolute;
            height: 11px;
            top: 2px;
            left: -4px;
            width: 30px;
        }
    }
    &.adress-icon {
        &:before {
            content: "";
            background: url(../img/icons/all-icons.svg) no-repeat;
            background-size: 100%;
            background-position: 0px -131px;
            position: absolute;
            height: 12px;
            top: 23px;
            left: 8px;
            width: 32px;
        }
    }
}

.top-page {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 20;
    span {
        position: absolute;
        top: 19px;
        color: #5b5b5b;
        font-size: 1em;
        left: -58px;
    }
    a {
        display: block;
        overflow: hidden;
        height: 60px;
        width: 60px;
        img {
            margin-top: -219px;
        }
    }
}

.row {
    margin-left: -25px;
    margin-right: -25px;
}
