@import "susy";

// Colors

$white: #fff;
$black-opacity-9: rgba(0,0,0, .9);

// Settings Sussy library

$susy: (
  columns: 12,
  gutters: 1/1,
  math: fluid,
  output: float,
  gutter-position: inside,
   debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);

body {
    position: relative;
}

#home{
    background:  url("../img/main-bg.jpg") no-repeat top center;
    background-size: cover;
}

.home-bg {
    background: $black-opacity-9;
    height: 100%;
}

#home-content{
    @include span(12);
}

.center {
    float: none;
    margin: 0 auto;
}

$class-slug: col-big !default;
$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .#{$class-slug}-#{$i} { 
      @include span($i);
    }
} 

.right {
    float: right;
}

.left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#top-contact {
    color: $white;
    span {
        display: block;
        padding-left: 8px;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}

nav {
    a {
        color: $white;
        text-decoration: none;
    }
}